.container {
  width: 100%;
  height: auto;
  max-width: 550px;
  /* margin: 0px 0px 0px 30%; */
  margin: 10% auto;
  background-color: #ebf6f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* position: absolute; */
  z-index: 1;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
i {
  width: 100%;
  /* padding: 0px calc(355px - 171px) 0px; */
  margin: 0px 0px 15px 210px;
  text-align: center;
  font-style: normal;
  cursor: pointer;
  font-weight: bold;
}
i:hover {
  text-decoration: underline;
  color: blue;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

#listeConges {
  margin-top: 30px;
}

h2 {
  margin-bottom: 10px;
}

/* ul {
  list-style-type: none;
  padding: 0;
} */

li {
  padding: 5px;
  border: 1px solid #666;
  margin-bottom: 5px;
  background-color: #555;
}

a {
  color: #fff;
  text-decoration: none;
  width: auto;
  cursor: default;
}
a:hover {
  color: #fff;
  cursor: pointer;
}

.lableFP {
  cursor: pointer;
}
.lableFP:hover {
  text-decoration: underline;
}

span {
  margin-top: 20px;
  text-align: center;
}

.row {
  display: flex;
  gap: 15px;
  margin-right: 10px;
}
.content {
  padding-top: 10px;
}
.row mat-form-field {
  width: 100%;
  padding-bottom: 10px;
}
.action {
  flex: 1;
}
.action button {
  flex: 1;
  margin-left: 160px;
  padding: 25px 50px 25px 50px;
  font-size: 17px;
}
h1 {
  font-size: 25px !important;
}
.container {
  width: auto;
}

button:disabled,
button[disabled] {
  opacity: 0.3;
  cursor: default;
  background-color: blue;
  color: #fff;
}

p {
  text-align: center;
  padding: 10px 10px 10px 10px;
}
