<!-- <p>forgot-password works!</p> -->
<!-- <p>comp-add-edit works!</p> -->
<div class="container">
    <div mat-dialog-title>
        <h1>Reset Password Page :</h1>
    </div>
    <div mat-dialog-content>
        <p>Enter the CIN associated with your account, and we will retrieve it for you.</p>
    </div>
    <form [formGroup]="ForgotPWForm" action="" (ngSubmit)="onForgotPWsubmit()">
        <div mat-dialog-content class="content">
            <!-- ROW 1 -->
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>CIN</mat-label>
                    <input matInput type="text" placeholder="Ex. CD123456" formControlName="cin" />
                    <mat-error *ngIf="ForgotPWForm.controls['cin'].errors?.['required']">CIN is Required.</mat-error>
                    <mat-error *ngIf="ForgotPWForm.controls['cin'].errors?.['pattern']">Invalid CIN.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="action">
            <button mat-raised-button color="primary" type="submit" [disabled]="!ForgotPWForm.valid" id="btn">
                Submit
            </button>
        </div>
    </form>
    <br>
    <div mat-dialog-content>
        <i id="log_out" (click)="GoBack()">Go Back?</i>
    </div>
</div>