<!-- <p>forgot-password-second works!</p> --><!-- <p>forgot-password works!</p> -->
<div class="container">
    <div mat-dialog-title>
        <h1>Reset Password Page :</h1>
    </div>
    <div mat-dialog-content>
        <p>Enter the CIN associated with your account, and we will retrieve it for you.</p>
    </div>
    <form [formGroup]="ForgotPWForm" action="" (ngSubmit)="onForgotPWsubmit()">
        <div mat-dialog-content class="content">
            <!-- ROW 1 -->
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Ex. kA+mal@_2" formControlName="password_1" id="input_password_1" />
                    <button id="button_password" matSuffix mat-icon-button aria-label="Clear" type="button" (click)="ShowPassword_1()">
                        <mat-icon id="icon_password_1">visibility_off</mat-icon>
                    </button>
                    <mat-error *ngIf="ForgotPWForm.controls['password_1'].errors?.['required']">Password is Required.</mat-error>
                    <mat-error *ngIf="ForgotPWForm.controls['password_1'].errors?.['pattern']">Invalid Password.</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Ex. kA+mal@_2" formControlName="password_2" id="input_password_2" />
                    <button id="button_password" matSuffix mat-icon-button aria-label="Clear" type="button" (click)="ShowPassword_2()">
                        <mat-icon id="icon_password_2">visibility_off</mat-icon>
                    </button>
                    <mat-error *ngIf="ForgotPWForm.controls['password_2'].errors?.['required']">Password is Required.</mat-error>
                    <mat-error *ngIf="ForgotPWForm.hasError('passwordMismatch')">Passwords do not match.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="action">
            <button style="margin-top: 20px;" mat-raised-button color="primary" type="submit" [disabled]="!ForgotPWForm.valid" id="btn">
                Submit
            </button>
        </div>
    </form>
    <br>
</div>