.row {
  display: flex;
  gap: 15px;
  margin-right: 10px;
}
.content {
  padding-top: 10px;
}
.row mat-form-field {
  width: 100%;
  padding-bottom: 10px;
}
.action {
  padding: 20px 11px 20px;
  margin-left: -7px;
}
.action button {
  flex: 1;
}
h1 {
  font-size: 25px !important;
}
.container {
  width: 500px;
  /*500px*/
}

button:disabled,
button[disabled] {
  opacity: 0.3;
  cursor: default;
  background-color: blue;
  color: #fff;
}
