<!-- <p>card-generique works!</p> -->

<div class="col-md-4 col-xl-3 body">
  <div class="card order-card" [class]="color">
    <div class="card-block">
      <h6 class="m-b-20" style="margin-bottom: 5px; font-size: 13px">
        {{ h }} :
      </h6>
      <h2 class="text-right">
        <i class="fa f-left" [class]="icon" aria-hidden="true"></i
        ><span class="f-right">{{ i_span }}</span>
        <br />
      </h2>
      <p class="m-b-0">
        {{ p }}<span class="f-right">{{ p_span }}</span>
      </p>
    </div>
  </div>
</div>
